In [6]:
import urllib, json
import urllib.request
import pandas as pd

In [7]:
def get_table(league_code, gw_start, gw_end):
    gw_start=gw_start-1
    league_url = 'https://fantasy.premierleague.com/api/leagues-classic/%d/standings/' % league_code
    response = urllib.request.urlopen(league_url)
    data = json.loads(response.read())
    teams = {}
    for i in range(len(data.get('standings').get('results'))):
        team_id = data.get('standings').get('results')[i].get('entry')
        name = data.get('standings').get('results')[i].get('player_name')
        teams[team_id] = name
    rank=0
    prev=-1
    buffer=0
    df = pd.DataFrame(columns=['id', 'name', 'points'])
    for team_id in teams.keys():
       fpl total = 0
        transfers = 0
        team_url = 'https://fantasy.premierleague.com/api/entry/%d/history/' % team_id
        response = urllib.request.urlopen(team_url)
        data = json.loads(response.read())
        for gw_no in range(gw_start, gw_end+1):
            try:
                total += data.get('current')[gw_no].get('points')
                total -= data.get('current')[gw_no].get('event_transfers_cost')
                transfers += data.get('current')[gw_no].get('event_transfers')
            except IndexError:
                total += 0
                transfers+=0
        if(total!=prev):
            prev=total
            rank+=buffer+1
            buffer=0
        else:
            buffer+=1
        d = pd.DataFrame({'id':team_id, 'name':teams[team_id], 'points':total, 'transfers':transfers}, index=[rank])
        
        df = df.append(d)
    df = df.sort_values(['points'], ascending=False)
    return df

In [8]:
get_table(810,1,1)

         id                 name points  transfers
1      2534        aayush virkar     66        0.0
1      1806       Dungeon Master     66        0.0
3   3748368   Swapnil Markhedkar     62        0.0
4   3433770       Manav Peshwani     61        0.0
4   5487896      Asawari Walkade     61        0.0
6     23500       Sanket Manmode     60        0.0
6     29315        Gaurav Ingale     60        0.0
8   3094585        Kevin Stephen     59        0.0
8    595743         Rishi Khetan     59        0.0
8   1353211         Sahil Thorve     59        0.0
11     3303         Ashwin Sapre     58        0.0
11  2668818       Apurv Kulkarni     58        0.0
13    53626       Kshitij Nayyar     57        0.0
13    19682          Navoneel De     57        0.0
15   296622       Krishiv Mewani     55        0.0
16  1965759         Arsh Thawani     54        0.0
17  2946826      Satyajeet Patil     53        0.0
17    47130         Neeraj Sathe     53        0.0
19   813981         Atanu Biswas     49        0.0
20     1448        Dhruv Inamdar     46        0.0
21   207232            Neal Shah     42        0.0
21   822914  Abishai Devarapalli     42        0.0
21    52714       Shreyas Kalrao     42        0.0
24   227408         Sahil Sehgal     41        0.0
24  3491683      Nikhil Sonavane     41        0.0
26   829454           Monil shah     40        0.0
27  2581430         Aran Thawani     33        0.0
28  4005379        Harshal Dixit     26        0.0
29  2445319          Harsh gupta     25        0.0
30     9824    Shivam Shishangia     24        0.0
31   102040    saurabha dhongade     23        0.0
32   892817  Siddhant Khandelwal     22        0.0
33   110024         Aman Morarka     21        0.0
34    76847      Aaryan Parasnis     19        0.0
35     8274       Aditya Sarwate     18        0.0
36  3451539           Nitya Shah      7        0.0